{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Nepmia.fr - Under developpement place holder.">
<meta name="theme-color" content="#2d80c3">
<meta property="og:description" content="Nepmia.fr - Under developpement place holder.">
<meta property="og:type" content="website">
<meta property="og:title" content="NPG">
<meta property="og:image" content="{% static 'assets/next.svg' %}">
{% endblock meta %}

{% block title %}SoonTM - Nepmia.fr{% endblock title %}

{% block content %}
    <div class="soontm">
        {% load static %}
        <img src="{% static 'assets/next.svg' %}" alt="Nepmia's NEXT Logo" width=300 height=300 style="margin-left:auto;margin-right:auto;fill:white;">
        <h1 class="uB" style="color: white;text-align:center">Soon™</h1>
    </div>
{% endblock content %}

{% block footer %}
    <p class="n5-footer-text-title">© NEPMIA 2022</p>
    <p class="n5-footer-text">This website is currently in developpement. The page you see here is just a temp placeholder before the actual content gets released.</p>
    <p class="n5-footer-sub">For any problems with the content displayed on this page please email <a class="n5-textlinks plight-h" href="mailto:admin@nepmia.fr">admin@nepmia.fr</a></p>
{% endblock footer %}
