// Color maps
@colors: {
    primary: #2d80c3;
    plight: #6aaff6;
    pdark: #005492;
    secondary: #364d9c;
    slight: #6a79ce;
    sdark: #00266d;
    accents: #a080b9;
    alight: #d2b0eb;
    adark: #715389;
    onlydark: #636161;
    onlydark_mid: #63616169;
    onlydark_lowop: #63616159;
    verydark: #111111;
    verydark_lowop: #11111186;
}

@primary: #2d80c3;
@plight: #6aaff6;
@pdark: #005492;
@secondary: #364d9c;
@slight: #6a79ce;
@sdark: #00266d;
@accents: #a080b9;
@alight: #d2b0eb;
@adark: #715389;
@onlydark: #636161;
@onlydark_mid: #6361619f;
@onlydark_lowop: #63616159;
@verydark: #111111;
@verydark_lowop: #11111186;

// Generate an usable class for color and background-color
each(@colors, {
    .@{key} {
        color: @value;
    }
    .@{key}-bg {
        background-color: @value;
    }
    .@{key}-h-bg:hover {
        background-color: @value;
    }
    .@{key}-h:hover {
        color: @value;
    }
});
