.n5-btn{
    .uB();
    color: white;
    background-color: #2376ad;
    border-radius: 5px;
    transition: 0.3s ease;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.n5-btn:hover {
    background-color: #3b91cb;
    transition: 0.3s ease;
    transform: scale(1.05);
}
