.n5-form{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.n5-input{
    border: black solid 0.5px;
    border-radius: 5px;
    .uL();
    color: black;
    background-color: white;
    padding: 5px;
}
label{
    .uB();
}
