.n5-form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: @onlydark_lowop;
}
.n5-input{
    border-radius: 5px;
    .uL();
    color: black;
    background-color: white;
    padding: 5px;
}
.n5-form > label{
    .uB();
    color: white;
}
