{% extends "base.html" %}
{% block title %}Social profile administration - Nepgear{% endblock %}

{% block content %}
<section class="n5-social-frame">

    {% with from_admin=True %}
        {% include "social_card.html" %}
    {% endwith %}

    <button class="n5-cardbtn plight-h-bg getModal primary-bg" method="get" url="{% url 'nepgear:social_creation' %}" type="form">
        <i class="n5-cardbtn-icon fas fa-plus-circle fa-5x"></i>
        <p class="n5-cardbtn-text uL">ADD SOCIAL PROFILE</p>
    </button>

</section>
{% endblock content %}
